{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
<script>
function toggleContent(uniqueId) {
    var truncated = document.getElementById('truncated_' + uniqueId);
    var full = document.getElementById('full_' + uniqueId);
    var toggleLink = document.getElementById('toggle_' + uniqueId);

    if (truncated.style.display === 'none') {
        truncated.style.display = 'inline';
        full.style.display = 'none';
        toggleLink.innerText = 'Read more';
    } else {
        truncated.style.display = 'none';
        full.style.display = 'inline';
        toggleLink.innerText = 'Read less';
    }
}
</script>
{% endblock %}